@media screen and (max-width: 750px) {
    .lateral{
        width: 20%;
    }
    .title{
        text-align: right;
        width: 80%;
    }
}
@media  screen and (max-width: 500px) {
    .primeira-fila , .segunda-fila , .terceira-fila{
        flex-direction: column; 
    }
    .perf{
        width: 90%;
    }
    .title{
        text-align: center;
    }
}